FORK=true
RPC_MAINNET=
RPC_POLYGON=
ETHERSCAN_API_KEY=

# private keys must have '0x' prefix
# use accounts provided by anvil
# you can see some private keys by running "anvil --accounts [NUMBER]"

# addresses
DEPLOYER_PRIVATE_KEY=
KEEPER1_ADDRESS=
KEEPER2_ADDRESS=
KEEPER3_ADDRESS=
VAULT_ADMIN_ADDRESS=
VAULT_EMERGENCY_ADMIN_ADDRESS=
STRATEGY_ADMIN_ADDRESS=
STRATEGY_EMERGENCY_ADMIN_ADDRESS=
TREASURY_ADDRESS=
# private keys
KEEPER1_PRIVATE_KEY=
KEEPER2_PRIVATE_KEY=
KEEPER3_PRIVATE_KEY=
VAULT_ADMIN_PRIVATE_KEY=
VAULT_EMERGENCY_ADMIN_PRIVATE_KEY=
STRATEGY_ADMIN_PRIVATE_KEY=
STRATEGY_EMERGENCY_ADMIN_PRIVATE_KEY=
TREASURY_PRIVATE_KEY=
# config
FORK_BLOCK_NUMBER=

