FORK=
RPC_MAINNET=
RPC_POLYGON=
CATAPULTA_API_KEY=
# addresses
DEPLOYER_ADDRESS=
DEPLOYER_PRIVATE_KEY=
# harvest(...)
KEEPER1_ADDRESS=
KEEPER2_ADDRESS=
KEEPER3_ADDRESS=
# updateStrategyData(...)
VAULT_ADMIN_ADDRESS=
VAULT_EMERGENCY_ADMIN_ADDRESS=
STRATEGY_ADMIN_ADDRESS=
STRATEGY_EMERGENCY_ADMIN_ADDRESS=
TREASURY_ADDRESS=
# private keys
KEEPER1_PRIVATE_KEY=
KEEPER2_PRIVATE_KEY=
KEEPER3_PRIVATE_KEY=
VAULT_ADMIN_PRIVATE_KEY=
VAULT_EMERGENCY_ADMIN_PRIVATE_KEY=
STRATEGY_ADMIN_PRIVATE_KEY=
STRATEGY_EMERGENCY_ADMIN_PRIVATE_KEY=
TREASURY_PRIVATE_KEY=